@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: grid;
  place-items: center;
  background: #dde1e7;
  text-align: center;
	margin: none;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Join Page */
.join-container {
  width: 350px;
  background: #dde1e7;
  border-radius: 30px;
  padding: 40px 30px;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.join-header {
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 35px;
  color: #595959;
}

.join-main {
  /* padding: 30px 40px;
  background: var(--dark-color-b); */
}

.join-main p {
  margin-bottom: 20px;
}

.join-main .form-control {
  margin-bottom: 20px;
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

.join-main label {
  position: absolute;
	top: 50%;
	left: 45px;
	pointer-events: none;
	color: #666666;
    transform: translateY(-50%);
}

.form-control input:focus ~ label{
	color: var(--dark-color-a);
}

.form-control input:valid ~ label{
	opacity: 0;
}

.join-main input[type="text"] {
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 18px;
  outline: none;
  border: none;
  color: #595959;
  border-radius: 25px;
  background: #dde1e7;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px 5px 10px #ffffff73;
}

.join-main input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px 1px 2px #ffffff73;
}

.form-control:nth-child(2) {
  margin-top: 20px;
}

.form-control i{
	position: absolute;
	width: 50px;
	line-height: 50px;
	color: #595959;
	margin-left: : 10px;
}

.join-main .btn {
  margin: 15px 0;
	width: 100%;
	height: 50px;
	color: #595959;
	font-size: 17px;
	font-weight: 550;
	background: #dde1e7;
	border: none;
	outline: none;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 2px 2px 5px #babecc,
	            -5px 5px 10px #ffffff73;
}

.join-main .btn:hover{
	color: #3498db;
	box-shadow: inset 2px 2px 5px #babecc,
	            inset -5px 5px 10px #ffffff73;
}
